body{
    
    background-color: burlywood;
    padding-top: 40px ;
    padding-bottom: 40px;
    
}

header img {
    width: 100%;
    border-radius: 10px;
}

.flex-container{
    padding-top: 40px ;
    padding-bottom: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    background-color: white;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.background{
    background-color: pink;
    border-radius: 10px;
}

.background h1{
    padding: 10px;
}
.background ul{
    padding-bottom: 10px;
}
h1{
    color: hsl(228, 45%, 44%); 
}

ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: instructions;
}

ol li::before{
    content: counter(instructions);
    counter-increment: instructions;
    font-family: serif;
    color: brown;
    font-weight: 700;
    font-size: medium;
    margin-right: 20px;

}
#bottom ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    justify-content: space-around;

}

#bottom span{
    word-spacing: 150px;
}


#hr{
    border: none; 
    border-top: 1px solid #ccc; 
    margin: 20px; 
  }

.styled-table {
    border-collapse: collapse; /* Collapse borders to ensure equal spacing */
    width: 300px; /* Fixed width for the table */
}

.styled-table th, .styled-table td {
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
    width: 50%; 
}


/* Media query for screens smaller than 600px */
@media screen and (max-width: 800px){

    body{
        max-width: 150%;
    }
    .flex-container{
        background-color: pink
    }

    .background{
        background-color: white;
    }
}

/* Media query for screens smaller than 400px */
@media screen and (max-width: 400px) {
   
    body{
        max-width: 75%;
    }
    .flex-container{
        background-color: beige;
    }

    .background{
        background-color: orange;
    }
}
    
